<div class="app-header header-left-div">
  <div><a routerLink="" routerLinkActive="active">
      <img src="../assets/logo.JPG" alt="image"></a>
  </div>
</div>
<div class="header header-center-div">
  <ul>
    <li>
      <a routerLink="ourstories" routerLinkActive="active">
        OUR STORY
      </a>
    </li>

    <li>
      <a routerLink="howwework" routerLinkActive="active">
        HOW IT WORKS
      </a>
    </li>

    <li>
      <a routerLink="ourprojects" routerLinkActive="active">
        PROJECTS
      </a>
    </li>

    <li>
      <a routerLink="getinvolved" routerLinkActive="active">
        GET INVOLVED
      </a>
    </li>
  </ul>

</div>

<div class="header header-right-div">
</div>