<div class="header-navbar" id="topnavbar">
  <div><a routerLink="" style="margin-top: -10px; margin-bottom: -15px;">
      <img class="header-img" src="/production/assets/logo.JPG" alt="image"></a>
  </div>
  <a href="" class="active">HOME</a>
  <a href="ourwork" class="active">OUR WORK</a>
  <a href="getinvolved" class="active">GET INVOLVED</a>
  <a href="aboutus" class="active">ABOUT US</a>

  <a id="donate-button-link" aria-label="Donate"
    href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=74F8WBMBZHWD4&source=url"
    target="_blank">
    Donate
  </a>
  <div>
    <a href="javascript:void(0);" class="icon"
      (click)="openNav()">&#9776;</a>
  </div>
</div>