<div class="app-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6">
                <h6>Explore</h6>
                <ul class="app-footer-links">
                    <li><a href="#">Our Mission</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Contribute</a></li>
                </ul>
            </div>
        
            <div class="col-md-6 col-sm-6 col-xs-6">
                <h6>SOCIAL</h6>
            </div>
        </div>
    </div>
</div>