<div class="app-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-4">
                <h6>NATURE1618</h6>
                <p class="text-justify">NATURE1618 is currently working in rural nepal, Colaborating with local communities to plant trees.</div>

            <div class="col-md-4 col-xs-4">
                <h6>EXPLORE</h6>
                <ul class="footer-links">
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Our Mission</a></li>
                    <li><a href="#">Events</a></li>
                </ul>
            </div>

            <div class="col-md-2 col-xs-4">
                <h6>FOLLOW US</h6>
                <ul class="social-icons">
                    <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                </ul>
            </div>
        </div>
        <hr>
    </div>
</div>