<div class="app-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <h6>NATURE1618</h6>
                <p class="text-justify">NATURE1618 is currently working in rural nepal, Colaborating with local communities to plant trees.</div>

            <div class="col-md-3 col-sm-3 col-xs-6">
                <h6>EXPLORE</h6>
                <ul class="footer-links">
                    <li><a href="aboutus">About Us</a></li>
                    <li><a href="ourwork">Projects</a></li>
                </ul>
            </div>

            <div class="col-md-3 col-sm-3 col-xs-6">
                
                <h6>FOLLOW US</h6>
             <!--   <ul class="social-icons">
                    <li><a class="facebook" href="https://www.facebook.com/nature1618/?ref=bookmarks" target="_blank"><i class="fa fa-facebook"></i></a></li>
        
                </ul>-->
                <a  class="facebook" href="https://www.facebook.com/nature1618/?ref=bookmarks" target="_blank"><i class="fa fa-facebook"></i></a>
            
            </div>
        </div>
        <hr>
    </div>
</div>