<div class="hero-image">
    <img src="/production/assets/hero-img-about.JPG" alt="image">
    <div class="hero-text hero-banner-header">
        <p>ABOUT US</p>
        <div class="header-link-divider"></div>
        <h1>Who We Are</h1>
    </div>
</div>
<div class="row about-description">
    <p>
        <strong style="font-size: 22px;">NATURE1618</strong> is a nonprofit organization currently working in local communities across Nepal and aims to expand
        it's work across other countries as well.
        NATURE1618’s vision is to motivate local communities and colaborate with them to work for nature and enrich
        lifes of all living beings.

        Nature1618 works toward our vision by planting trees, cleaing water resources and environment around
        us in partnership with local communities.
    </p>

    <h1>Background</h1>
    <p>Nature1618 was established in 2019 by a group of Engineers from nepal living in USA.
        Realizing the importance of Nature for all living beings, degradation in quality of our lives due to
        lack of nature,(i.e trees, clean water resources, clean environment)
        quality of nature around us. A group of engineers came together to discuss on how to contribute
        for this cause and decided to work to contribute for nature and society by motivating local communities
        and work with them to establish naturally rich environment</p>
</div>