.hero-image{
    margin-bottom: 100px;
  }
img {
    margin: 0;
    padding: 0;
    width: 100%;
    position: relative;
    z-index: -1;
    }
    h2{
      color: #3c3c3c;
    }

    .about-description p{
    text-align: left;
    position: relative;
    padding: 10px;
    margin-right: 10%;
    margin-left: 10%;
    display: block;
    flex-direction: row;

    }

    .about-description h2{
        text-align: left;
        position: relative;
        margin-left: 10%;
        padding: 10px;
        
    }

    @media screen and (max-width: 768px) {
        .row {
          flex-direction: column;
        }
      
        .column {
          margin-top: 60px;
        }
      
        .hero-image{
          margin-bottom: 60px;
        }
        .help-desc{
            margin-bottom: 0;
        }

        .about-description p{
            text-align: left;
            position: relative;
            padding: 10px;
            margin-right: 7%;
            margin-left: 7%;
            display: block;
            flex-direction: row;
        
            }
        
            .about-description h2{
                text-align: left;
                position: relative;
                margin-left: 7%;
                padding: 10px;
                display: block;
        
            }
      }