<div class="hero-image">
    <img src="/assets/hero-img-about.JPG" alt="image">
    <div class="hero-text hero-banner-header">
        <h3>About Us</h3>
        <div class="header-link-divider"></div>
        <h1>Who We Are</h1>
    </div>
</div>
<div class="row about-page-desc">
    <div class="about-page-rows">
    <p>
        <strong style="font-size: 22px;">NATURE1618</strong> is a non profit organization,
        working in collaboration with local communities around the world with the aim to promote 
        environmental awareness, conserve environmental resources and combat climate change.
    </p>

    <h2>Background</h2>
     <p>Realizing the importance of nature for all living beings, degradation in quality of our lives 
        due to lack of nature, quality of nature around us, Nature1618 was 
        established in 2019 with the motivation to give back to nature and decided to work for 
        this cause by spreading awareness, motivating local communities
        and work with them to establish naturally rich environment.</p>
</div>
</div>