<div class="hero-image">
    <img src="../assets/hero-image.JPG" alt="image">
    <div class="hero-text hero-banner-header">
        <p>OUR WORK</p>
        <h1>We work to bring greater change.</h1>
    </div>
</div>
<div [@scrollAnimation]="state" class="col-md-6 col-sm-6 col-xs-6">
    <h1>OUR MISSION</h1>
    <p class="r1-p">
        Nature1618's mission is to serve the nature, preserve natural resources and enhance the quality of environment.
        Our vision is to work in collaboration with local communities to contribute towards the nature, conserve it and enrich our lives. </p>
</div>