.hero-image{
  margin-bottom: 100px;
}


img {
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
  z-index: -1;
  }

  .ourwork-page-rows{
    margin-right: 10%;
    margin-left: 10%;
  }

  .ourwork-page-row2{
    margin-right: 5%;
    margin-left: 5%;
  }

  .ourwork-page-desc{
    margin-bottom: 100px;
  }



    
/* Container for flexboxes */
.row {
  display: flex;
  flex-wrap: wrap;
}
/* Create four equal columns */
.column {
  flex: 50%;
}


/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 992px) {
  .row {
    flex-direction: column;
  }

  .column {
    margin-top: 60px;
  }

  .hero-image{
    margin-bottom: 0px;
  }

  .ourwork-page-rows{
    margin-right: 7%;
    margin-left: 7%;
  }

  .ourwork-page-row2{
    margin-right: 7%;
    margin-left: 7%;
  }
  .ourwork-page-desc{
    margin-bottom: 0;
  }
  

  
}
    