<div class="hero-image">
    <img src="/assets/hero-img-ourwork.jpg?80172489074" alt="image">
    <div class="hero-text hero-banner-header">
        <h3>Our Work</h3>
        <div class="header-link-divider"></div>
        <h1>We work to bring greater change</h1>
    </div>
</div>
<div class="row ourwork-page-desc">
    <div class="column ourwork-page-rows">
        <h4>RESPECT TOWARDS NATURE</h4>
        <h2>With skills and interests we can make difference.</h2>
        <p>
            Our first and foremost objective is to take proper actions to conserve nature for the enrichment of natural
            resources. With skills and interests to make difference, volunteering and collaborating with local
            communities will motivate us to reach the goal of the organization. Exploring the relationship between nature and people 
            living together with proper actions will eliminate obtrusive behavior towards the destruction of nature.
        </p>
    </div>

</div>
<div id ="row-project1" class="row ourwork-page-desc">

<div class="row ourwork-page-desc">

<div class="row ourwork-page-desc">
<div class="row ourwork-page-desc">
<div class="column ourwork-page-rows">
<div class="row ourwork-page-desc">
    <div class="column ourwork-page-rows">

        <h4>FIRST PROJECT</h4>
        <h2>Aghara Tree Plantation</h2>
        <span style="color: red;font-size: 16px; font-weight: bold;">Note: This project has been postponed to a
            later date due to COVID-19 impact.</span>
        <p>
            Nature1618 plans to initiate its project with tree plantation in Aghara, Dang in collaboration with
            the local club: Jagaruk Ekta Yuva Club. Nearly 2800 trees are estimated to be planted
            which will go as per discussed with locals living in that area and volunteers from Aghara, Dang.
            The selection of trees is based on their choices and favorable to the local climate, thus lead to a
            schedule for July 2020.</p>
    </div>
    <div class="row">
        <div class="column ourwork-page-rows img-slide">
        <mdb-carousel [isControls]="true" class="carousel-multi-item multi-animation" [type]="'carousel-multi-item'"
            [animation]="'slide'">
            <mdb-carousel-item *ngFor="let item of slides; let i = index">
                <div class="col-md-4" [ngClass]="{'d-none d-md-block': cardIndex !== 0}"
                    *ngFor="let card of item; let cardIndex = index">
                    <mdb-card class="my-1">
                        <mdb-card-img [src]="card.img" alt="Card image cap"></mdb-card-img>
                    </mdb-card>
                </div>
            </mdb-carousel-item>
        </mdb-carousel>

<div class="row">
    <div class="column" style="padding-left: 5;padding-right: 0;">
        <img src="/assets/ourwork-img1.jpg?80172489076" alt="image">
    </div>

    <div class="column ourwork-page-desc">
        <div class="ourwork-page-row2">
            <h4>FIRST PROJECT</h4>
            <h2>Aghara Tree Plantation</h2>
            <span style="color: red;font-size: 16px; font-weight: bold;">Note: This project has been postponed to a later date due to COVID-19 impact.</span>
            <p>
                Nature1618 plans to initiate its project with tree plantation in Aghara, Dang in collaboration with
                the local club: Jagaruk Ekta Yuva Club. Nearly 2800 trees are estimated to be planted
                which will go as per discussed with locals living in that area and volunteers from Aghara, Dang.
                The selection of trees is based on their choices and favorable to the local climate, thus lead to a
                schedule for July 2020.</p>
        </div>
    </div>
</div>