<div class="hero-image">
    <img src="../assets/hero-img-ourwork.JPG" alt="image">
    <div class="hero-text hero-banner-header">
        <p>OUR WORK</p>
        <div class="header-link-divider"></div>
        <h1>We work to bring greater change.</h1>
    </div>
</div>
<div [@scrollAnimation]="state" class="row ourwork-desc">
    <div [@scrollAnimation]="state">
        <h1>Respect Towards Nature</h1>
    <p>
            Our first and foremost objective is to take proper actions to conserve nature for the enrichment of natural resources.
            With skills and interests to make difference, volunteering and collaborating with local communities will motivate us to 
            reach the goal of the organization. Exploring the relationship between nature and people living together with proper 
            actions will eliminate obtrusive behavior towards the destruction of nature.
    </p>
    </div>
</div>

<div [@scrollAnimation]="state" class="row">
    <div  class="col-md-6 col-sm-6 col-xs-6" style="padding-left: 5;padding-right: 0;">
        <img src="../assets/ourwork-phase1.JPG" alt="image">
    </div>

    <div class="col-md-6 col-sm-6 col-xs-6">
        <h1>Tree Plantation Phase1</h1>
        <p class="r2-p">
            Nature1618 plans to initiate its project with tree plantation in Aghara, Dang in collaboration with 
            the local club: Jagaruk Ekta Yuva Club. In phase 1, nearly 2800 trees are estimated to be planted 
            which will go as per discussed with locals living in that area and volunteers from Aghara, Dang. 
            The selection of trees is based on their choices and favorable to the local climate, thus lead to a 
            schedule for July 2020.</p>
    </div>
</div>
