/* Global Styles */

* {
  font-family: 'Roboto', Arial, sans-serif;
  color: #616161;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
}

router-outlet + *  {
  padding: 0 0;
}

/* Text */

h1 {
  font-size: 32px;
}

h2 {
  font-size: 20px;
}

h1, h2 {
  font-weight: lighter;
}

p {
  font-size: 14px;
}

/* Hyperlink */

a {
  cursor: pointer;
  color: #1976d2;
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}


/* App Header */

app-header {
  width: 100%;
  height: 68px;
  background-color: #f8f8f8;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

app-header h1 {
  color:black;
  margin: 0;
}


/* App Home Page */


app-content {
 width: 100%;
 margin: 0;
 padding: 0;
 align-items: center;
 font-size: 22px;
 align-content: center;
 margin-top: 50px;
 margin-bottom: 100px;
 position: relative;

}

/* our work */



/* App Footer */

app-footer {
  width: 100%;
  margin-top: 100px;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* global styles */
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
  background-size: cover;
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-top: 0;
  margin-bottom: 100px;
  z-index: -1;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:white;
  z-index: 1;
}
.hero-banner-header h1{
  font-size:4vw;color: whitesmoke; position: relative
}
.hero-banner-header p{
  font-size: 1.5vw;color: whitesmoke; font-weight: bold;
}


