.hero-image{
    margin-bottom: 100px;
  }
img {
    margin: 0;
    padding: 0;
    width: 100%;
    position: relative;
    z-index: -1;
    }

    h2{
      color: #3c3c3c;
    }

    .help-desc{
        margin-bottom: 100px;
    }

    .help-desc p{
        text-align: left;
        position: relative;
        padding: 10px;
        margin-right: 10%;
        margin-left: 10%;
        display: block;
        flex-direction: row;
    
        }
    
        .help-desc h2{
            text-align: center;
            position: relative;
            display: block;
    
        }

        @media screen and (max-width: 768px) {
            .row {
              flex-direction: column;
            }
          
            .column {
              margin-top: 60px;
            }
          
            .hero-image{
              margin-bottom: 0px;
            }
            .help-desc{
                margin-bottom: 0;
            }

            .help-desc p{
                text-align: left;
                position: relative;
                padding: 10px;
                margin-right: 7%;
                margin-left: 7%;
                display: block;
                flex-direction: row;
            
                }
            
                .help-desc h2{
                    text-align: left;
                    margin-left: 7%;
                    padding: 10px;
            
                }
          }