<div class="app-home">
    <div class="row hero-image">
        <img  class="hero-image-i" src="../assets/hero-image.JPG" alt="image">
        <div class="hero-text">
            <h1 style="font-size:50px;color: whitesmoke;">NATURE1618</h1>
            <p style="font-size: 20px;color: whitesmoke;">Lets work together for Nature</p>
        </div>
    </div>
    <div class="row home-r">
        <div  [@scrollAnimation]="state" class="col-md-6 col-sm-6 col-xs-6" style="padding-left: 5;padding-right: 0;">
            <img src="../assets/1.JPG" alt="image">
        </div>

        <div [@scrollAnimation]="state" class="col-md-6 col-sm-6 col-xs-6">
            <h1>OUR MISSION</h1>
            <p class="r1-p">
                Nature1618's mission is to serve the nature, preserve natural resources and enhance the quality of environment.
                Our vision is to work in collaboration with local communities to contribute towards the nature, conserve it and enrich our lives. </p>
        </div>
    </div>

    <div  class="row home-r">
        <div class="col-md-6 col-sm-6 col-xs-6">
            <h1 [@scrollAnimationLeft]="state"class="r2-p">“Someone’s sitting in the shade today because someone planted a tree a long time ago.” –
                Warren Buffett
            </h1>
        </div>
        <div [@scrollAnimationLeft]="state"class="col-md-6 col-sm-6 col-xs-6" style="padding-left: 0; padding-right: 5;">
            <img src="../assets/3.JPG" alt="image">
        </div>
    </div>
</div>