.home-r{
  margin: 0;
  padding: 0;
}

img {
  margin: 0;
  padding: 0;
  width: 100%;
  }

  .r1-p{
    position: relative;
    top: 30%;
    transform: translate(0, -50%);
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    text-align: center;
    vertical-align: middle;
    font-size: 24px;
  }

  .r2-p{
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    text-align: center;
    vertical-align: middle;
    font-size: 34px;
  }

  h1{
    text-align: center;
    color: 3c3cred3c;
}
