.home-r{
  margin: 0;
  padding: 0;
}

  .r1-p{
    position: relative;
    top: 8%;
    padding: 0;
    margin: 0;
    display: block;
    flex-direction: row;
    text-align: center;
    font-size: 24px;
  }

  .r2-p{
    position: relative;
    top: 30%;
    padding: 0;
    margin: 0;
    flex-direction: row;
    text-align: center;
    vertical-align: middle;
    font-size: 34px;
  }

  h1{
    text-align: center;
}

img {
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
  z-index: -1;
  }




