<div class="hero-image">
    <img src="/assets/hero-image.jpg?80172489074" alt="image">
    <div class="hero-text hero-banner-header">
        <h3>Nature1618</h3>
        <div class="header-link-divider"></div>
        <h1>Lets work together for Nature</h1>

    </div>
</div>

<div class="row">
    <div class="column col-md-6 col-md-push-6">
        <h4 class="home-page-rows">OUR MISSION</h4>
        <h2 class="home-page-rows"> Serve the nature, preserve natural resources and enhance the quality of
            environment.</h2>
        <p class="home-page-rows">
            Our vision is to work in collaboration with local communities to contribute towards the nature, conserve it
            and enrich our lives. </p>
    </div>
    <div class="column col-md-6 col-md-pull-6" style="padding-left: 5;padding-right: 0;">
        <img src="/assets/home-img1.jpg?80172489074" alt="image">
    </div>

</div>

<div class="row">
    <div class="column">
        <h2 class="home-page-row2">"Someone’s sitting in the shade today because
            someone planted a tree a long time ago."
            <span style="font-size: 16px; font-style: italic;">- Warren Buffett</span>
        </h2>
    </div>
    <div class="column" style="padding-left: 0; padding-right: 5;">
        <img src="/assets/home-img2.jpg?80172489074" alt="image">
    </div>
</div>